<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>
    <br>
    <form action="/alunos" method="post">
        <input type="text" name="nome" placeholder="nome">
        <input type="email" name="email" placeholder="email">
        <select name="curso">
            <option value="" selected disabled></option>
            <option value="ads">Tecnologo em ADS</option>
            <option value="ipi">Técnico em Informatica para Internet</option>
            <option value="qualidade">Técnico em Gestão de Qualidade</option>
        </select>
        <button type="reset">Cancelar</button>
        <button type="submit">Salvar</button>
    </form>
</body>
</html>